doctype html
html
  head
    meta(name='description', content='Containers slide')
    link(rel='stylesheet', href='style.css')
  body
    #cont_box
      #current
        //- h1 Insert Title Here default
        //- p Nunc viverra porta cursus. Mauris ornare ex metus, in accumsan arcu condimentum ac. Sed ac nulla in metus sodales rhoncus vel nec purus. Mauris arcu.
      .container-row
        .container
          h1 Insert Title Here slide 1
          p Nunc viverra porta cursus. Mauris ornare ex metus, in accumsan arcu condimentum ac. Sed ac nulla in metus sodales rhoncus vel nec purus. Mauris arcu.
        .container
          h1 Insert Title Here slide 2
          p Nunc viverra porta cursus. Mauris ornare ex metus, in accumsan arcu condimentum ac. Sed ac nulla in metus sodales rhoncus vel nec purus. Mauris arcu.
        .container
          h1 Insert Title Here slide 3
          p Nunc viverra porta cursus. Mauris ornare ex metus, in accumsan arcu condimentum ac. Sed ac nulla in metus sodales rhoncus vel nec purus. Mauris arcu.
        .container
          h1 Insert Title Here slide 4
          p Nunc viverra porta cursus. Mauris ornare ex metus, in accumsan arcu condimentum ac. Sed ac nulla in metus sodales rhoncus vel nec purus. Mauris arcu.
        .container
          h1 Insert Title Here slide 5
          p Nunc viverra porta cursus. Mauris ornare ex metus, in accumsan arcu condimentum ac. Sed ac nulla in metus sodales rhoncus vel nec purus. Mauris arcu.
        .container
          h1 Insert Title Here slide 6
          p Nunc viverra porta cursus. Mauris ornare ex metus, in accumsan arcu condimentum ac. Sed ac nulla in metus sodales rhoncus vel nec purus. Mauris arcu.
    .arrow__wrapper
      .prev ❮
      .next ❯
  script(src="asset/js/main.js")
